.div1{
    margin-left: 500px;
    margin-top: 170px;
    width:400px;
    height:300px;
    border-radius:20px;
    background-color: aquamarine;
    border: 1px solid aqua;
}

.div2 {
    margin-left: 110px;
    margin-top: 50px;
    width: 180px;
    height: 200px;
}

.header{
    font-size: 40px;
}

.label{
    font-size: 15px;
    color: blue;
}

.colspan1{
    column-span: 3;
}

.alignCentre{
    align: center;
}

.alignRight{
    align: right;
}